@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-left: 20%;
  padding-right: 20%;
  background: rgb(247, 247, 247);
  font-family: 'Ubuntu', sans-serif;
}

.main {
  flex: 1 0 auto;
  display: flex;
  flex-flow: row wrap;
  color: rgb(106, 106, 106);
  justify-content: center;

}

.main div {
  flex: 1;
  min-width: 300px;
  padding: 20px;
}

footer{
  flex: 0 0 auto;
}

h1 {
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
  border-bottom: 2px solid #CCC;
  letter-spacing: 1px;
}


footer {
  color: rgb(33, 33, 33);
  text-align: center;
  border-top: 1px solid #CCC;
}

.red {
  color: red;
}

a {
  text-decoration:none;
  color: rgb(106, 106, 106);
}

@media (max-width:768px) {
  body {
    /*font-size: 2rem;*/
    padding-left: 5%;
    padding-right: 5%;
  }
}
